<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<div id="movies">
  <% @movies.each do |movie| %>
    <%= render movie %>
    <p>
      <%= link_to "Show this movie", movie %>
    </p>
  <% end %>
</div>

<%= link_to "New movie", new_movie_path %>
<table>
  <thead>
   <tr>
     <<th><%= sortable "title", "Title" %></th>
      <th><%= sortable "rating", "Rating" %></th>
      <th><%= sortable "release_date", "Release Date" %></th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
          <!-- Handle nil release_date gracefully -->
        <td>
          <% if movie.release_date %>
            <%= movie.release_date.strftime("%Y-%m-%d") %>
          <% else %>
            (no date)
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
